<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
<h1>PREDICTOR</h1>
</head>
<style>
    h1{
        color: red;
       text-align:center 
    }
    h2{
        color: green;
        text-align: center;
    }

    input[type=float] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
</style>

<body>

<form action="/submit" method="GET">
Pregnancies<input type="float" name="Pregnancies"><br>
    Glucose<input type="float" name="Glu"><br>
    BloodPressure<input type="float" name="Bp" ><br>
    SkinThickness<input type="float" name="st"><br>
    Insulin<input type="float" name="Insulin" ><br>
    BMI	<input type="float" name="BMI" ><br>
    DiabetesPedigreeFunction<input type="float" name="dpf" ><br>
<input type="submit" value="SUBMIT">
</form>
</body>



</html>
